
<!DOCTYPE html>
<!--[if IE 7 ]> <html class="ie ie7"> <![endif]-->
<!--[if IE 8 ]> <html class="ie ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="" lang="en"> <!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {% block stylesheets %}
        <!-- GOOGLE FONT -->
        <link href="{{ asset('https://fonts.googleapis.com/css?family=Montserrat:400,700') }}" rel='stylesheet' type='text/css'>
        <link href="{{asset('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic') }}" rel='stylesheet' type='text/css'>
        <link href="{{asset('https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,600,700') }}" rel='stylesheet' type='text/css'>
        <!-- CSS LIBRARY -->
        <!-- Bootstrap -->
        <link type="text/css" href="{{asset('css/lib/bootstrap.min.css') }}" rel="stylesheet">
        <link type="text/css" href="{{asset('css/lib/jquery.bootstrap-touchspin.min.css') }}" rel="stylesheet">

        <!-- Font Icon -->
        <link type="text/css" href="{{asset('css/lib/font-awesome.min.css') }}" rel="stylesheet">
        <link type="text/css" href="{{asset('css/lib/cortana.css') }}" rel="stylesheet">

        <!-- Revolution Slider -->
        <link type="text/css" href="{{asset('rs-plugin/css/settings.css') }}" rel="stylesheet">
        <!-- Owl Carousel -->
        <link type="text/css" href="{{asset('css/lib/owl.carousel.css') }}" rel="stylesheet">

        <!-- Select into div -->
        <link type="text/css" href="{{asset('css/lib/select2.min.css') }}" rel="stylesheet">

        <!-- Magnific Popup -->
        <link type="text/css" href="{{asset('css/lib/magnific-popup.css') }}" rel="stylesheet">

        <!-- Custom CSS -->
        <link type="text/css" href="{{asset('css/style.css') }}" rel="stylesheet">
        <link type="text/css" href="{{asset('font-awesome-4.7.0/css/font-awesome.min.css') }}" rel="stylesheet">


    {% endblock %}
    {% block javascripts %}


        <script src="{{asset('https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js') }}"></script>
        <script src="{{asset('https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js') }}"></script>

        <script src="{{asset('js/lib/bootstrap.min.js') }}"></script>




        <script type="text/javascript" src="{{ asset('js/goole.js') }}"></script>
        <script type="text/javascript">
            var geocoder  = new google.maps.Geocoder();

            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(successFunction, errorFunction);
            }
            //Get the latitude and the longitude;
            function successFunction(position) {
                var lat = position.coords.latitude;
                var lng = position.coords.longitude;
                codeLatLng(lat, lng)
            }

            function errorFunction(){
                alert("Geocoder failed");
            }

            function initialize() {
                geocoder  = new google.maps.Geocoder();



            }

            function codeLatLng(lat, lng) {

                var latlng = new google.maps.LatLng(lat, lng);
                geocoder.geocode({'latLng': latlng}, function(results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        console.log(results)
                        if (results[1]) {
                            //formatted address
                            //alert(results[0].formatted_address)
                            //find country name
                            for (var i=0; i<results[0].address_components.length; i++) {
                                for (var b=0;b<results[0].address_components[i].types.length;b++) {

                                    //there are different types that might hold a city admin_area_lvl_1 usually does in come cases looking for sublocality type will be more appropriate
                                    if (results[0].address_components[i].types[b] == "administrative_area_level_1") {
                                        //this is the object you are looking for
                                        city= results[0].address_components[i];
                                        break;
                                    }
                                }
                            }
                            //city data
                            document.getElementById('location').value=city.short_name;
                            // alert(city.short_name + " " + city.long_name)



                        } else {
                            alert("No results found");
                        }
                    } else {
                        //alert("Geocoder failed due to: " + status);
                    }
                });
            }
        </script>




        <![endif]-->
    {% endblock %}
    <title>Dernière minute</title>
</head>
<body onload="initialize()">

<!-- PRELOAD -->
<div id="preload" class="preload">
    <div class="flat"></div>
    <div class="square"></div>
    <div class="square-2"></div>
    <div class="square-3"></div>
    <div class="square-4"></div>
</div>

<!-- HEADER 1 -->
<header id="header" class="header head1">

    <div class="main-header main-header-1 bd-b-alpha">
        <div class="container">
            <!-- LOGO -->
            <div class="logo">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <a href="{{ path('covoiturage_homepage') }}" ><img src="{{asset('img/logo2.png')}}" style="padding-top: 14%"/></a>
                {% else %}
                    <a href="{{ path('covoiturage_homepage') }}" ><img src="{{asset('img/logo2.png')}}" /></a>
                {% endif %}
            </div><!-- /#logo -->
            <!-- END / LOGO -->

            <!-- MOBILE MENU -->
            <div class="mobile-nav-menu" data-menu-number="3">
                <span class="icon">&nbsp;</span>
            </div><!-- /mobile-nav-menu -->
            <!-- /END MOBILE MENU -->

            <link type="text/css" href="{{asset('icons/foundation-icons/foundation-icons.css') }}" rel="stylesheet">























            <!-- NAVIGATION -->
            <nav class="navigation nav3" data-menu-type="1199">
                <ul class="nav text-uppercase">
                    <li>
                        <form method="post" action="{{ path('covoiturage_dernier_annonce') }}">
                            <input id="location" type="text" name="location" hidden />
                            <button type="submit" style="color: #ff1f17;background-color: transparent;border-color: transparent">DERNIERE MINUTE</button>
                        </form>
                    </li>


                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                        <li><a href="{{ path('covoiturage_contact') }}">Contactez nous</a></li>
                        <li class="no-bg" ><a href="{{ path('covoiturage_ajt_annonce') }}" class="p-job"><i class="fa fa-plus-square" style="margin-top: -50%"></i>Ajouter Annonce</a></li>

                        <li class="menu-item-has-children" >
                            <a href="#" >
                                <img src="{{ asset('/' ~ app.user.photoMembre ~ '') }}"  class="img-circle" width="40" height="40" border="1"  /></a>
                            <ul class="sub-menu" style="left: -140%">

                                <li><a href="{{ path('fos_user_profile_edit') }}"><i class="fa fa-user"></i> {{ app.user.username|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</a></li>
                                {% if app.user.premisConduite != null%}
                                    <li><a href="{{ path('voiture_index') }}"><i class="fa fa-cab"></i> Mes voitures</a></li>
                                {% endif %}
                                <li><a href="{{ path('annonce_annonce') }}"><i class="fa fa-cab"></i> Mes annonces</a></li>
                                <li><a href="{{ path('mes_reservations') }}"><i class="fa fa-book"></i> Mes réservation</a></li>
                                <li><a href="{{ path('afficherReclamation') }}"><i class="fa fa-folder"></i> Mes Réclamations </a></li>
                                <li><a href="{{ path('temoignage_index') }}"><i class="fa fa-hand-paper-o"></i> Mes Témoignages </a></li>
                                <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-power-off"></i> Logout</a></li>
                            </ul>
                        </li>
                    {% else %}

                        <li>
                            <a href="{{ path('fos_user_registration_register') }}">
                                Inscription</a>
                        </li>
                        <li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
                        <li><a href="{{ path('covoiturage_contact') }}">Contactez nous</a></li>
                    {% endif %}

                </ul><!-- /nav -->
            </nav>
            <!-- END / NAVIGATION -->
        </div><!-- /container -->
    </div><!-- /main-header -->
</header><!-- /header -->
<!-- END / HEADER 1 -->

<div id="page-wrap">
    <!-- SUB HEADER -->
    <section id="sub-header" class="section bg-parallax pb-0" data-background="{{ asset('img/slider/slide30.jpg') }}">
        <div class="bg-overlay-black bg-overlay-5"></div>
        <div class="container">
            <div class="sub-wrapper">
                <h1>Derniere minute</h1>
                <h2 class="h4">EDT-ONE s'occupe de tout.</h2>

            </div><!-- /sub-wrapper -->
        </div><!-- /container -->
    </section>
    <!-- END / SUB HEADER -->

    <br><br>



    <link type="text/css" href="{{asset('recherche/recherche.css') }}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>

    <div class="container">
        <div class="row">

            <div class="col-md-10 col-md-offset-1">


                <div class="panel-body" >
                    <table class="table table-striped table-bordered table-list" >

                        <tbody>

                        {% if ann != null %}
                            {% for ok in ann %}
                                <tr><br>
                                    <td class="hidden-xs" ><img src="{{ asset('/' ~ ok.membre.photoMembre ~ '') }}"  class="img-circle" width="80" height="80" border="1"  />
                                        <br><div align="center">
                                            <i class="fa fa-user fa-lg" style="color: gold;"></i> {{ ok.membre.nom }}<br><br>
                                            <i class="fa fa-phone fa-lg" style="color: gold;"></i> {{ ok.membre.telephone }}<br>
                                        </div>
                                    </td>

                                    <td><h3 align="center"><em class="fa fa-calendar" style="color: gold"></em> {{ ok.DateDepart.format('Y-m-d') }}
                                            <br><br>
                                            <h5 align="center" style="color: #337ab7"> <em class="fa fa-road" style="color: gold"></em> {{ ok.trajet.villedepart.nom }} -> {{ ok.trajet.villearrive.nom }} <em class="fa fa-road" style="color: gold"></em></h5>
                                            {% if ok.membre.musique != null %}
                                                <h4 style="color: gold">Musique :</h4>
                                                <h5>{{ ok.membre.musique }}</h5>
                                            {% endif %}
                                            <h4 style="color: gold">Commentaire :</h4>
                                            <h5>{{ ok.commentaire }}</h5>
                                    </td>
                                    <td align="center"><br><br><br>
                                        <h4 style="color: gold">{{ ok.prix }} dt </h4>
                                        <h5 style="color: gold">par place</h5>
                                        <h5 style="color: #337ab7">X places restantes</h5>
                                        {% if ok.membre.tabagisme == 0 %}
                                            <h1><em  class="fi-no-smoking" style="color: red"></em></h1>
                                        {% endif %}
                                        {% if ok.membre.animaux == 0 %}
                                            <h1><em  class="fi-no-dogs" style="color: red"></em></h1>
                                        {% endif %}
                                        <br>
                                    </td>
                                    <td align="center"><br><br><br><br><br><a class="btn btn-success" href="{{ path('reservation_annonce', {'id':  ok.id  }) }}">Réserver</a>


                                </tr>
                            {% endfor %}
                        {% else %}
                            <h2 align="center" style="color: gold">Pas de résultats</h2>
                        {% endif %}
                        </tbody>
                    </table>

                </div>

            </div>

        </div></div></div>

<!-- FOOTER -->
<footer id="footer" class="footer bg-dark">

    <div class="foot-credit">
        <div class="container">
            <ul>



                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li><a href="{{ path('covoiturage_contact') }}">Contactez nous</a></li>
                {% else %}
                    <li>
                        <a href="{{ path('fos_user_registration_register') }}">
                            Inscription</a>
                    </li>
                    <li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
                    <li><a href="{{ path('covoiturage_contact') }}">Contactez nous</a></li>
                {% endif %}
            </ul>
            <p>Share The Fare &copy; 2017 By EDT-ONE. All rights Reserved</p>
        </div><!-- /container -->
    </div><!-- /foot-credit -->
</footer>

<!-- END / FOOTER -->
</div><!-- /page-wrap -->
<!-- JQUERY -->
<script type="text/javascript" src="{{asset('js/lib/jquery-1.11.3.min.js')}}"></script>


<!-- Bootstrap -->
<script type="text/javascript" src="{{asset('js/lib/bootstrap.min.js')}}"></script>
<script type="text/javascript" src="{{asset('js/lib/jquery.bootstrap-touchspin.min.js')}}"></script>

<!-- Revolution Slider -->
<script type="text/javascript" src="{{asset('rs-plugin/js/jquery.themepunch.tools.min.js')}}"></script>
<script type="text/javascript" src="{{asset('rs-plugin/js/jquery.themepunch.revolution.min.js')}}"></script>
<!-- Owl Carousel -->
<script type="text/javascript" src="{{asset('js/lib/owl.carousel.min.js')}}"></script>
<!-- Overflow Text -->
<script type="text/javascript" src="{{asset('js/lib/overflow-text.js')}}"></script>

<!-- Easing -->
<script type="text/javascript" src="{{asset('js/lib/jquery.easing.min.js')}}"></script>

<!-- Select to div -->
<script type="text/javascript" src="{{asset('js/lib/select2.min.js')}}"></script>

<!-- Parallax -->
<script type="text/javascript" src="{{asset('js/lib/jquery.parallax-1.1.3.js')}}"></script>

<!-- Waypoint -->
<script type="text/javascript" src="{{asset('js/lib/waypoints.min.js')}}"></script>

<!-- Count To -->
<script type="text/javascript" src="{{asset('js/lib/jquery.countTo.js')}}"></script>

<!-- Magnific Popup -->
<script type="text/javascript" src="{{asset('js/lib/jquery.magnific-popup.min.js')}}"></script>

<!-- Image Loaded -->
<script type="text/javascript" src="{{asset('js/lib/imagesloaded.pkgd.min.js')}}"></script>

<!-- Isotope -->
<script type="text/javascript" src="{{asset('js/lib/isotope.pkgd.min.js')}}"></script>


<!-- Custom jQuery -->
<script type="text/javascript" src="{{asset('js/scripts.js')}}"></script>

</body>
</html>